<!-- templates/members/list.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}">
<body>
<div layout:fragment="content">
    <h1>회원 목록</h1>
    <a class="btn btn-primary mb-3" th:href="@{/member/new}">회원 등록</a>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>이름</th>
            <th>주소</th>
            <th>전화번호</th>
            <th>생성일자</th>
            <th>관리</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.id}">1</td>
            <td th:text="${member.name}">홍길동</td>
            <td th:text="${member.address}">아남아파트 101동 101호</td>
            <td th:text="${member.phone}">010-1234-5678</td>
            <td th:text="${member.registeredAt}"></td>
            <td>
                <a class="btn btn-sm btn-info" th:href="@{/member/{id}(id=${member.id})}">상세</a>
                <a class="btn btn-sm btn-warning" th:href="@{/member/{id}/edit(id=${member.id})}">수정</a>
                <a class="btn btn-sm btn-danger" th:href="@{/member/{id}/delete(id=${member.id})}">삭제</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
