<!-- templates/layout.html -->
<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: head}"></head>
<body>

<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<div th:replace="~{fragments/header :: header}"></div>


<main class="content-wrap">
  <div class="main">
    <div layout:fragment="content" class="container-fluid">
    <!-- 개별 페이지에서 이 영역만 채운다 -->

    </div>
  </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>